body{
    background-color: #d6d6d6;
}

.sk{
    position: static;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.point{
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 1;
}

.point:hover + .info-container{
    display: block;
}

.info-container{
    position: absolute;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #a0a0a0;
    z-index: 2;
    padding: 2px;
}*/


.pointBA{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 365px; 
    left: 500px;
}

.pointTN{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 330px; 
    left: 580px;
}

.pointKO{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 230px; 
    right: 680px;
}

.pointZI{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50px; 
    left: 780px;
}

.pointBA:hover + .info-containerBA{
    display: block;
}

.pointKO:hover + .info-containerKO{
    display: block;
}

.pointTN:hover + .info-containerTN{
    display: block;
}

.pointZI:hover + .info-containerZI{
    display: block;
}

.info-containerBA{
    position: absolute;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #a0a0a0;
    padding: 2px;
    top: 365px; 
    left: 530px;
}

.info-containerTN{
    position: absolute;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #a0a0a0;
    padding: 2px;
    top: 330px; 
    left: 610px;
}

.info-containerKO{
    position: absolute;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #a0a0a0;
    padding: 2px;
    top: 230px; 
    right: 710px;
}

.info-containerZI{
    position: absolute;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #a0a0a0;
    padding: 5px;
    top: 50px; 
    left: 810px;
}

p.miesta{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
