body{

}

p{
    display: none;
    color: red;
}

#containerA{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    overflow-y: hidden;
}

#containerA:hover p{
    display: block;
    width: 100px;
    height: 85px;
    overflow-y: scroll;
}

#containerB{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 10%;
    border: 1px solid yellow;
}

#containerC{
    position: absolute;
    top: 21%;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}

#containerD{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 10%;
    top: 21%;
    border: 1px solid pink;
}