body{
    background-color: gray;
}

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
    padding-top: 20px;
    top: 0;
    left: 0;
}

#modal-vnutro{
    position: relative;
    margin: auto;
    top: 5%;
    padding: 0;
    width: 100%;
    max-width: 1280px;
}

.modal-fotka{
    width: 1280px;
    height: 720px;
}

.pred, .nasl{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

.nasl{
  right: -5%;
}

.pred{
    left: -5%;
}

.pred:hover, .nasl:hover{
    color: rgb(90, 90, 90);
}

.play{
    position: absolute;
    background-image: url("img/play.png");
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
    top: 90%;
    left: 50%;
    border: none;
}

.play:hover{
    background-image: url("img/play-black.png");
    transition: 0.6s all;
}

.stop{
    position: absolute;
    background-image: url("img/stop.png");
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
    top: 90%;
    left: 50%;
    border: none;
}

.stop:hover{
    background-image: url("img/stop-black.png");
    transition: 0.6s all;
}

.zatvor {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.zatvor:hover, .zatvor:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.texttitle{
    float: left;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.textdesc{
    float: left;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

ul#gallery{
    list-style-type: none;
}
 
#gallery li {
    float: left;
    width: auto;
    height: 150px;
    background: rgba(0,0,0,0.2);
    padding: 3px;
    border-radius: 4px;
    margin: 10px;
}
 
#gallery img {
    height: 150px;
    width: auto;    
}

#gallery li:hover{
    background: white;
    transition: all 0.5s;
}