@font-face {
    font-family: Bebas;
    src: url(font/LemonMilk.otf);
}

body{
    background-color: #474747;
}

h1{
    font-family: Bebas;
    color: #ffd900;
    margin-left: 100px;
    text-align: center;
}

h3{
    margin: 35px 25px;
    font-family: "Arial", Arial, sans-serif;
    color: black;
    padding: 5px;
    border-left: 2px solid gray;
}

h2, h4, p{
    font-family: "Arial", Arial, sans-serif;
    margin: 35px 25px;
    text-align: justify;
}

aside { 
    display: block;
}

p.footer{
    color: white;
    margin: 35px 25px;
    text-align: center;
}

table{
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 35px 25px;
    background-color: #d8d8d8;
}

th, td{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 35px 25px;
    padding: 8px;
}

td.cviko{
    background-color:greenyellow;
}

td.pred{
    background-color: cornflowerblue;
}

td.dni{
    background-color: #d8d8d8;
}

tr:nth-child(even){background-color: #f2f2f2}

address{
    display: block;
    margin: 35px 25px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0% 20%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    transition: all 0.5s ease;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #ffd900;
}

footer{
    margin: 0% 20%;
    padding: 0;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #636363;
}

img.profil{
    float:left;
    width: 120px;
    height: 175px;
    padding: 10px;
}

#main-container{
    margin: 0% 20%;
    padding: 0;
    border: 1px solid black;
    background-color: #a0a0a0;
}
   