body{
    margin: 0px;
    padding: 0px;
    float: clear;
    /*background-color: #707070;*/
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-container{
    top: 200px;
    left: 500px;
    right: 500px;
    padding: 50px; 
    position: absolute;
    background-color: #efefef;
    border: 0.5px solid black;
    border-radius: 14px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    z-index: 0;
}

img.logo{
    position: absolute;
    left: 800px;
    width: 300px;
    height: 300px;
    z-index: 1;
}

img.plechovka{
    position: absolute;
    top: 500px;
    right: 350px;
    width: 300px;
    height: 350px;
    z-index: 2;
}

.subcat option{
    display:none;
}

.subcat option.label{
    display:block;
}